.list_box h1 {
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    margin: 10px 0;
}
.list_box_newsInfo {
    color: #666666;
    text-align: center;
    border-bottom: 1px dotted #666666;
}
.list_box_newscontent {
    font-size: 14px;
    padding: 20px;
    line-height: 25px;
    text-indent: 2em;
}
